<!DOCTYPE html>
<html lang="es" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Automoviles Itagui</title>
	<link rel="stylesheet" th:href="@{/css/estiloRegistrarVH.css}">
</head>

<body>

	<div class="registrerF">
		<form th:action="@{/vistas/Vehiculos/save}" th:object="${Vehiculos}" method="post">
			
			<div class="titleForm">
				<h4>Registrar Vehiculo</h4>		
			</div>

			<div class="inputBox">
				<input type="text" id="identificacion" th:field="*{idVehiculo}" placeholder="Identificador"> 				
			</div>
			<div class="inputBox">
				<input type="text" id="placa" th:field="*{placa}" placeholder="Placa"> 
			</div>
			<div class="inputBox">
				<input type="text" id="numeroInterno" th:field="*{numeroInterno}" placeholder="Numero Interno"> 
			</div>
			<div >
				<button type="submit" class="btn" >Guardar</button>
				<a th:href="@{/vistas/Vehiculos/}" class="btnCancel">
					<p>Cancelar</p>
				</a>
			</div>
			</div>
		</form>
	</div>

</body>
</html>