<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Automoviles Itagui</title>
   	<link rel="stylesheet" th:href="@{/css/estiloVehiculos.css}">
	
</head>

<body >

    <header>		
		<div class="iconMenu">
			<img class="menuLogo" id="btnOpen" th:src="@{/Imagenes/menuLogo.png}">
		</div>
	</header>
	
	<div class="imagenEmpresa">
	
		<img class="logoEmpresa" th:src="@{/Imagenes/logoEmpresa.jpeg}">
	
	</div>
	
	
	<div class="optionsMenu" id="optionsMenu">
		

		<a th:href="@{/}">
			<div class="option" id="selected">
				<img class="programarLogo" th:src="@{/Imagenes/programarLogo.png}" title="Programar">
				<h4>Programar</h4>
			</div>
		</a>
		
		<a th:href="@{/}">
			<div class="option">
				<img class="novedadLogo" th:src="@{/Imagenes/novedadLogo.png}" title="Novedades">
				<h4>Novedades</h4>
			</div>
		</a>
		
		<a th:href="@{/vistas/Vehiculos/}">
			<div class="option">
				<img class="adminLogo" th:src="@{/Imagenes/adminLogo.png}" title="Administrar">
				<h4>Administración</h4>
			</div>
		</a>
		
		<a th:href="@{/}">
			<div class="informe">
				<img class="informeLogo" th:src="@{/Imagenes/informeLogo.png}" title="Informes">
				<h4>Informes</h4>
			</div>
		</a>
			
		<a th:href="@{/}">
			<div class="user">
				<img class="userLogo" th:src="@{/Imagenes/sesionLogo.png}" title="Perfil">
				<h4>Perfil</h4>
			</div>
		</a>	
			
	</div>

	

    <div>
		<table>
			<thead>
		  	<tr>
				<th scope="col">Id</th>
				<th scope="col">Placa</th>
				<th scope="col">Numero interno</th>
				<th scope="col">Acciones</th>
		  	</tr>
			</thead>
			<tbody>
		  		<tr th:each="vehiculo : ${Vehiculos}">
					<td th:text="${vehiculo.idVehiculo}"></td>
					<td th:text="${vehiculo.placa}"></td>
					<td th:text="${vehiculo.numeroInterno}"></td>
					<td>
                        <a th:href="@{/vistas/Vehiculos/edit/} + ${vehiculo.idVehiculo}" th:text="Editar" title="Editar Registro"></a>
                        <a href="@{}">Eliminar</a>
                    </td>
		  		</tr>
			</tbody>
	  	</table>
	</div>

	<div class="btnRegistrarForm">
		<button id="btnAbrirFormulario" th:onclick="|window.location.href='/vistas/Vehiculos/create'|">Registrar Vehículo</button>
	</div>

	<script>
		//Ejecutar función en el evento click
		document.getElementById("btnOpen").addEventListener("click",open_close_menu);

		//declarar variables
		var optionsMenu = document.getElementById("optionsMenu");
		var btnOpen = document.getElementById("btnOpen");
		var body = document.getElementById("body");
			
		//Evento para mostar y ocultar el menu
		function open_close_menu(){
			body.classList.toggle("body_move");
			optionsMenu.classList.toggle("optionsMenu_move");
		}
		
		const btnAbrirModal =
		document.querySelector("#btnAbrirFormulario");
		const btnCerrarModal = 
		document.querySelector("#btnCerrarFormulario")
	</script>

</body>

</html>