<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Automoviles Itagui</title>
   	<link rel="stylesheet" th:href="@{/css/estiloVehiculos.css}">
	
</head>

<body >

    <header>		
		<div class="iconMenu" id="iconMenu">
			<input type="checkbox" id="checkboxIconMenu">
			<label for="checkboxIconMenu">
				<img class="menuLogo" id="btnOpen" th:src="@{/Imagenes/menuLogo.png}">
			</label>
		</div>
	</header>

	<div class="container-menu">
		<div class="cont-menu">
			<nav>
				<a href="#">Programar</a>
				<a href="#">Novedades</a>
				<a href="#">Administracion</a>
				<a href="#">Informes</a>
			</nav>
			<label for="" class="icon-equis">X</label>
		</div>
	</div>
	
	<div class="imagenEmpresa">

		<img class="logoEmpresa" th:src="@{/Imagenes/logoEmpresa.jpeg}">
		
	</div>

    <div>
		<table>
			<thead>
		  	<tr>
				<th scope="col">Id</th>
				<th scope="col">Placa</th>
				<th scope="col">Numero interno</th>
				<th scope="col">Acciones</th>
		  	</tr>
			</thead>
			<tbody>
		  		<tr th:each="vehiculo : ${Vehiculos}">
					<td th:text="${vehiculo.idVehiculo}"></td>
					<td th:text="${vehiculo.placa}"></td>
					<td th:text="${vehiculo.numeroInterno}"></td>
					<td>
                        <a th:href="@{/vistas/Vehiculos/edit/} + ${vehiculo.idVehiculo}" th:text="Editar" title="Editar Registro"></a>
                        <a th:href="@{/vistas/Vehiculos/delete/} + ${vehiculo.idVehiculo}" th:text="Eliminar" title="Eliminar Registro"></a>
                    </td>
		  		</tr>
			</tbody>
	  	</table>
	</div>

	<a th:href="@{/vistas/Vehiculos/create}"><button type="submit" class="btnRegistrarForm" >+ Agregar</button></a>

</body>

</html>