* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: calibri;
}

.logo img {
	position: absolute;
	left: 220px;
	top: 110px;
	width: 264px;
	height: 264px;
}

.loginSesion p {
	position: absolute;
	left: 266px;
	top: 380px;
	font-size: 18px;
	font-weight: 400;
}

.registrerF {
	position: absolute;
	left: 810px;
	top: 60px;
	width: 400px;
	height: 440px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.registrerF form {
	width: 100%;
	padding: 40px;
}

.registrerF form h4{
	position: absolute;
	left: 104px;
	top: 70px;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}

.inputBox {
	position: relative;
	width: 50%;
	height: 50px;
    right: 80px;
    top: 20px;
	border-bottom: 2px solid black;
	margin: -14px 0;
}

.inputBox2 {
	position: relative;
	width: 50%;
    height: 50px;
    left: 150px;
    bottom: 14px;
	border-bottom: 2px solid black;
	margin: -16px 0;
}

.inputBox label {
	position: absolute;
	top: 50%;
	left: 8px;
	transform: transalteY(-50%);
	font-size: 14px;
	font-weight: 400;
	color: black;
	pointer-events: none;
	transition: .3s;
}

.inputBox2 label {
	position: absolute;
	top: 50%;
	left: 8px;
	transform: transalteY(-50%);
	font-size: 14px;
	font-weight: 400;
	color: black;
	pointer-events: none;
	transition: .3s;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
	top: -5px;
}

.inputBox2 input:focus~label,
.inputBox2 input:valid~label {
	top: -5px;
}

.inputBox input {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 6px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 15px;
	color: black;
	font-weight: 400;
}

.inputBox2 input {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 6px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 15px;
	color: black;
	font-weight: 400;
}

.btn {
	width: 50%;
	height: 45px;
	background: #719eb1;
	border: 1px solid black;
	border-radius: 8px;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	font-weight: 600; 	
	color: #04191e;
	position: absolute;
	left: 58px;
	top: 385px;
}

.btnLogin {
	width: 150px;
	height: 45px;
	background: #719eb1;
	border: 1px solid black;
	border-radius: 8px;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	font-weight: 600; 	
	color: #04191e;
	position: absolute;
	left: 276px;
	top: 420px;
}

input::placeholder {
    color: black;
}
