<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>Automoviles Itagui</title>
	<link rel="stylesheet" th:href="@{/css/estiloIndex.css}">
</head>

<body>
	
	<header>		
		<div class="iconMenu" id="iconMenu">
			<input type="checkbox" id="checkboxIconMenu">
			<label for="checkboxIconMenu">
				<img class="menuLogo" id="btnOpen" th:src="@{/Imagenes/menuLogo.png}">
			</label>
		</div>
	</header>

	<div th:if="${success != null}" class="alert-success">
		<label th:text="${success}"></label>
	</div>

	<div class="container-menu" id="menu">
		<div class="cont-menu">
			<nav>
				<a th:href="@{/home}">
					<p class="txtProgram">Programar</p>
					<img class="icon-program" th:src="@{/Imagenes/programarLogo.png}">
				</a>
				<a href="#">
					<p class="txtNovedad">Novedades</p>
					<img class="icon-novedad" th:src="@{/Imagenes/novedadLogo.png}">
				</a>
				<a href="#">
					<p class="txtInforme">Informes</p>
					<img class="icon-informe" th:src="@{/Imagenes/informeLogo.png}">
				</a>
				<div class="admin-link">
					<p class="txtAdministracion">Administracion</p>
					<img class="icon-administrar" th:src="@{/Imagenes/adminLogo.png}">
					<ul class="admin-menu">
						<li><a th:href="@{/vistas/Vehiculos/}">Vehiculos</a></li>
						<li><a th:href="@{/vistas/Ruta/}">Rutas</a></li>
						<li><a th:href="@{/vistas/Conductor/}">Conductores</a></li>
						<li><a th:href="@{/vistas/Usuario/}">Usuarios</a></li>
					</ul>
				</div>
				<form th:action="@{/logout}" method="post">
					<button type="submit" class="btn-logout">
						<p>Cerrar Sesion</p>
					</button>
				</form>
				
			</nav>
			<label for="checkboxIconMenu" class="icon-equis">X</label>
		</div>
	</div>

	<div class="imagenEmpresa">
	
		<img class="logoEmpresa" th:src="@{/Imagenes/logoEmpresa.jpeg}">
	
	</div>
	
	<div class="listViajes">
		<table>
			<thead>
		  	<tr>
				<th scope="col">Id</th>
				<th scope="col">Hora Inicio</th>
				<th scope="col">Hora Fin</th>
				<th scope="col">Acciones</th>
		  	</tr>
			</thead>
			<tbody>
		  		<tr th:each="viajes:${Viaje}">
					<td th:text="${viajes.idViaje}"></td>
					<td th:text="${viajes.horaInicio}"></td>
					<td th:text="${viajes.horaFin}"></td>
					<td>Editar</td>
		  		</tr>
			</tbody>
	  	</table>
	</div>
	
	<a href="#"><button type="submit" class="btnRegistrarForm" >+ Agregar</button></a>

	<script>
		/*CODIGO DE ANIMACION PARA OCULTAR LA BARRA LATERAL*/
		document.addEventListener('DOMContentLoaded', function() {
    	var checkboxIconMenu = document.getElementById('checkboxIconMenu');
    	var menu = document.getElementById('menu');

    		checkboxIconMenu.addEventListener('change', function() {
    	    	if (checkboxIconMenu.checked) {
    	        	menu.style.opacity = '1';
    	        	menu.style.visibility = 'visible';
    	    	} else {
    	        	menu.style.opacity = '0';
    	        	menu.style.visibility = 'hidden';
    	    	}
    		});
		});
		/*---------------------------------------------------*/

		/*CODIGO PARA MOSTRAR LA LISTA DE ADMINISTRACION*/
		document.addEventListener('DOMContentLoaded', function() {
   			var adminLink = document.querySelector('.admin-link');

    		// Agrega un evento de clic al contenedor .admin-link
    		adminLink.addEventListener('click', function(event) {
    		    var adminMenu = adminLink.querySelector('.admin-menu');
			
    		    // Cambia la visibilidad de .admin-menu al hacer clic en .admin-link
    		    adminMenu.style.display = adminMenu.style.display === 'block' ? 'none' : 'block';
    		});
		});
		/*-------------------------------------------------*/
	</script>
</body>

</html>