<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Automoviles Itagui</title>
	<link rel="stylesheet" th:href="@{/css/estiloIndex.css}">
</head>

<body id="body">
	
	<header>		
		<div class="iconMenu">
			<img class="menuLogo" id="btnOpen" th:src="@{/Imagenes/menuLogo.png}">
		</div>
	</header>
	
	<div class="imagenEmpresa">
	
		<img class="logoEmpresa" th:src="@{/Imagenes/logoEmpresa.jpeg}">
	
	</div>
	
	
	<div class="optionsMenu" id="optionsMenu">
		

		<a th:href="@{/}">
			<div class="option" id="selected">
				<img class="programarLogo" th:src="@{/Imagenes/programarLogo.png}" title="Programar">
				<h4>Programar</h4>
			</div>
		</a>
		
		<a th:href="@{/}">
			<div class="option">
				<img class="novedadLogo" th:src="@{/Imagenes/novedadLogo.png}" title="Novedades">
				<h4>Novedades</h4>
			</div>
		</a>
		
		<a th:href="@{/}">
			<div class="option">
				<img class="adminLogo" th:src="@{/Imagenes/adminLogo.png}" title="Administrar">
				<h4>Administración</h4>
			</div>
		</a>
		
		<a th:href="@{/}">
			<div class="informe">
				<img class="informeLogo" th:src="@{/Imagenes/informeLogo.png}" title="Informes">
				<h4>Informes</h4>
			</div>
		</a>
			
		<a th:href="@{/}">
			<div class="user">
				<img class="userLogo" th:src="@{/Imagenes/sesionLogo.png}" title="Perfil">
				<h4>Perfil</h4>
			</div>
		</a>	
			
	</div>

	<div class="listViajes">
		<table>
			<thead>
		  	<tr>
				<th scope="col">Id</th>
				<th scope="col">Vehículo</th>
				<th scope="col">Ruta</th>
				<th scope="col">Primer Nombre</th>
				<th scope="col">Primer Apellido</th>
				<th scope="col">Hora Inicio</th>
				<th scope="col">Hora Fin</th>
				<th scope="col">Acciones</th>
		  	</tr>
			</thead>
			<tbody>
		  		<tr th:each="viaj:${Viaje}">
					<th scope="row" th:text="${viaj.idViaje}"></th>
					<td th:text="${viaj.vehiculos.NumeroInterno}"></td>
					<td th:text="${viaj.ruta.nombreRuta}"></td>
					<td th:text="${viaj.conductor.primerNombre}"></td>
					<td th:text="${viaj.conductor.primerApellido}"></td>
					<td th:text="${viaj.HoraInicio}"></td>
					<td th:text="${viaj.HoraFin}"></td>
					<td>
						<button>Completar</button>
						<button>Editar</button>
						<button>Eliminar</button>
					</td>
		  		</tr>
			</tbody>
	  	</table>
	</div>
	
	<script th:src="@{/js/scriptIndex.js}"></script>
</body>

</html>