<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Automoviles Itagui</title>
    <link rel="stylesheet" th:href="@{/css/estiloRegistro.css}">
</head>

<body>

	<div class="logo">
		<img class="logoEmpresa" th:src="@{/Imagenes/logoEmpresa.jpeg}">
	</div>

	<div class="loginSesion">
		<p>¿Ya tienes una cuenta?</p>
		<a th:href="@{/login}"><button type="button" class="btnLogin" >Iniciar Sesion</button></a>
	</div>

    <div class="registrerF">
        <form th:action="@{/vistas/registro}" th:object="${Usuario}" method="post">
			
			<div class="titleForm">
				<h4>Registrarse</h4>		
			</div>

			<div class="inputBox">
				<input type="text" id="primer-nombre" th:field="*{primerNombre}" placeholder="Primer Nombre">
			</div>
			<div class="inputBox2">
				<input type="text" id="segundo-nombre" th:field="*{segundoNombre}" placeholder="Segundo Nombre">
			</div>
			<div class="inputBox">
				<input type="text" id="primer-apellido" th:field="*{primerApellido}" placeholder="Primer Apellido">
			</div>
			<div class="inputBox2">
				<input type="text" id="segundo-apellido" th:field="*{segundoApellido}" placeholder="Segundo Apellido">
			</div>
			<div class="inputBox">
				<input type="text" id="tipo-documento" th:field="*{tipoDocumento}" placeholder="Tipo Documento">
			</div>
			<div class="inputBox2">
				<input type="text" id="numero-documento" th:field="*{numeroDocumento}" placeholder="Numero Documento">
			</div>
			<div class="inputBox">
				<input type="text" id="correo" th:field="*{correo}" placeholder="Correo">
			</div>
			<div class="inputBox2">
				<input type="text" id="contrasena" th:field="*{contrasena}" placeholder="Contraseña">
			</div>
			<button type="submit" class="btn" >Registrar</button>
		</form>
    </div>
</body>

</html>